@import url(https://db.onlinewebfonts.com/c/11d164da9b46e6f7955e396757e5ca70?family=AvenirNextCyr-Regular);
@import url(https://db.onlinewebfonts.com/c/28f70728be1cb6dc87a8903182044dfd?family=AvenirNextCyr-Bold);

:root {
  --color-yellow: rgba(255, 218, 0, 1);
  --color-gray: rgba(65, 65, 64, 1);
  --color-green: rgba(39, 174, 96, 1);
  --color-lightGray: rgba(245, 247, 249, 1);
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "AvenirNextCyr-Regular";
  color: var(--color-gray);
  max-width: 1920px;
  margin: auto;
  width: 100%;
}

.content {
  max-width: 1170px;
  margin: auto;
  width: 100%;
  padding: 20px;
}

.office {
  margin-right: 50px;

  &__breadcrumbs {
    font-weight: 450;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 32px;
    font-weight: 450;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 32px;
    overflow-x: auto; /* Add overflow-x property to enable horizontal scrolling */
    white-space: nowrap; /* Prevent line breaks within the breadcrumbs */
    overflow: hidden;
  }

  &__breadcrumbs a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid var(--color-gray);
  }

  &__about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    position: relative;
  }

  &__images {
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
  }

  &__info-instok {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 97%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    background-color: white;
    padding: 0px 7px;
  }

  &__info-circle {
    width: 8px;
    height: 8px;
    background-color: var(--color-green);
    border-radius: 50%;
  }

  &__info-instok p {
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 5%;
    color: inherit;
    line-height: 14.4px;
    padding-bottom: 4px;
  }

  &__first-image {
    position: relative;
  }

  &__info-click {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__info-child {
    padding: 2px 7px;
    background-color: var(--color-yellow);
    border-radius: 50%;
    position: absolute;
    font-weight: 700;
    font-size: 11px;
    cursor: pointer;
    position: absolute;

    &:hover {
      background-color: rgb(198, 160, 10);
    }
  }

  &__info-child:nth-child(1) {
    top: 11%;
    left: 28%;
  }

  &__info-child:nth-child(2) {
    top: 13%;
    left: 65%;
  }

  &__info-child:nth-child(3) {
    top: 8%;
    left: 32%;
  }

  &__info-child:nth-child(4) {
    top: 0.5%;
    left: 14%;
  }

  &__info-child:nth-child(5) {
    top: 7%;
    left: 17%;
  }

  &__info-child:nth-child(6) {
    top: 10%;
    left: 86%;
  }

  &__info-popup-hidden {
    display: none;
  }

  &__info-popup {
    background-color: rgba(65, 65, 64, 0.85);
    width: 124px;
    height: 68px;
    line-height: 10px;
    text-align: left;
    padding-left: 16px;
    padding-top: 12px;
    margin-top: 4px;
    position: absolute;
  }

  &__info-name {
    color: white;
  }

  &__info-price {
    color: var(--color-yellow);
    font-weight: 750;
  }

  &__bag {
    position: relative;
  }

  &__title {
    font-size: 32px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 8px;
  }

  &__info a {
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    color: inherit;
    opacity: 0.6;
    border-bottom: 1px solid var(--color-gray);
  }

  &__subtitle {
    display: flex;
    gap: 18px;
    background-color: var(--color-lightGray);
  }

  &__subtitle img {
    padding-left: 10px;
  }

  &__subtitle span {
    font-weight: 700;
  }

  &__btn {
    background-color: var(--color-yellow);
    padding: 18px 79px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;

    &:hover {
      background-color: rgb(198, 160, 10);
    }
  }

  &__price {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__price-box {
    border: 1px solid rgba(65, 65, 64, 0.1);
    padding: 11px;
  }

  &__price-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
  }

  &__counter {
    display: flex;
    align-items: center;
    gap: 22px;
  }

  &__price-nubmer {
    padding: 2px 7px;
    background-color: var(--color-yellow);
    border-radius: 50%;
    font-weight: 700;
    font-size: 11px;
  }

  &__price-money {
    font-weight: 700;
  }

  &__price-counter {
    display: flex;
    align-items: center;
    border: 1px solid rgba(65, 65, 64, 0.1);
  }

  &__counter-value {
    opacity: 0.6;
    border-right: 1px solid rgba(65, 65, 64, 0.1);
    padding: 2px 8px;
  }

  &__counter-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
  }

  &__counter-action :nth-child(1) {
    border-bottom: 1px solid rgba(65, 65, 64, 0.1);
  }

  &__counter-btnup,
  &__counter-btndown {
    padding: 4px 7px;
    cursor: pointer;

    &:hover {
      background-color: var(--color-yellow);
    }
  }

  &__price-onepiece {
    text-align: right;
    font-size: 12px;
    opacity: 0.6;
  }

  &__sum-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__office__title-count {
    font-size: 32px;
  }

  &__notification-alternative {
    display: flex;
    border: 1px solid rgba(252, 63, 29, 0.16);
    padding: 11px 14px;
  }

  &__notification-alternative p {
    line-height: 10px;
    font-size: 10px;
    font-weight: 700;
  }

  &__quest {
    margin-top: 24px;
    display: flex;
    gap: 8px;
  }

  &__quest img {
    padding-bottom: 25px;
  }

  &__link-phone {
    font-size: 16px;
  }

  &__link-phone a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: inherit;
    border-bottom: 1px solid var(--color-gray);
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
}

.modal-window {
  width: 370px;
  height: 390px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 40%;
  background-color: white;
  display: none;
  z-index: 150;

  &__flag {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  &__info {
    padding: 32px;
  }
  &__info h1 {
    font-size: 28px;
    line-height: 1px;
  }

  &__info p {
    font-size: 16px;
  }

  &__info a {
    font-size: 11px;
    color: inherit;
    opacity: 0.5;
  }

  &__phone {
    margin-bottom: 8px;
    position: relative;
    display: inline-block;
    align-items: center;
  }

  &__phone img {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__phone input {
    padding: 15px 0px 15px 45px;
    border: 1px solid rgba(65, 65, 64, 0.1);
    width: 120%;
  }

  &__button {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__btn {
    background-color: var(--color-yellow);
    padding: 18px 79px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;

    &:hover {
      background-color: rgb(198, 160, 10);
    }
  }
}

@media (max-width: 1230px) {
  .office {
    &__about {
      display: flex;
      flex-direction: column;
    }
  }
}
