@import url(https://db.onlinewebfonts.com/c/11d164da9b46e6f7955e396757e5ca70?family=AvenirNextCyr-Regular);
@import url(https://db.onlinewebfonts.com/c/28f70728be1cb6dc87a8903182044dfd?family=AvenirNextCyr-Bold);
:root {
  --color-yellow: rgba(255, 218, 0, 1);
  --color-gray: rgba(65, 65, 64, 1);
  --color-green: rgba(39, 174, 96, 1);
  --color-lightGray: rgba(245, 247, 249, 1);
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  font-family: "AvenirNextCyr-Regular";
  color: var(--color-gray);
  max-width: 1920px;
  margin: auto;
  width: 100%;
}

.content {
  max-width: 1170px;
  width: 100%;
  margin: 20px auto;
}

.office__breadcrumbs {
  font-weight: 450;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 32px;
  overflow-x: auto;
  white-space: nowrap;
}
.office__breadcrumbs a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid var(--color-gray);
}
.office__about {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
  position: relative;
}
.office__images {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}
.office__info-instok {
  position: absolute;
  top: 1%;
  right: 2%;
  bottom: 96.5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  background-color: white;
  padding: 0px 8px;
}
.office__info-circle {
  width: 8px;
  height: 8px;
  background-color: var(--color-green);
  border-radius: 50%;
}
.office__info-instok p {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 5%;
  color: inherit;
  padding-bottom: 4px;
}
.office__first-image, .office__second-image, .office__third-image, .office__fourth-image {
  position: relative;
  width: 100%;
}
.office__info-click {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.office__info-child {
  padding: 2px 10px;
  background-color: var(--color-yellow);
  border-radius: 50%;
  position: absolute;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
  position: absolute;
}
.office__info-child:hover {
  background-color: rgb(198, 160, 10);
}
.office__info-child:nth-child(1) {
  top: 11%;
  left: 28%;
}
.office__info-child:nth-child(2) {
  top: 13%;
  left: 65%;
}
.office__info-child:nth-child(3) {
  top: 8%;
  left: 32%;
}
.office__info-child:nth-child(4) {
  top: 0.5%;
  left: 14%;
}
.office__info-child:nth-child(5) {
  top: 7%;
  left: 17%;
}
.office__info-child:nth-child(6) {
  top: 10%;
  left: 86%;
}
.office__info-popup-hidden {
  display: none;
}
.office__info-popup {
  background-color: rgba(65, 65, 64, 0.85);
  width: 124px;
  height: 68px;
  line-height: 10px;
  text-align: left;
  padding-left: 16px;
  padding-top: 12px;
  margin-top: 4px;
  margin-right: 20px;
  position: absolute;
}
.office__info-name {
  color: white;
}
.office__info-price {
  color: var(--color-yellow);
  font-weight: 700;
}
.office__bag {
  position: relative;
}
.office__title {
  font-size: 32px;
}
.office__info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 8px;
}
.office__info a {
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  color: inherit;
  opacity: 0.6;
  border-bottom: 1px solid var(--color-gray);
}
.office__subtitle {
  display: flex;
  gap: 18px;
  background-color: var(--color-lightGray);
}
.office__subtitle img {
  padding-left: 10px;
}
.office__subtitle span {
  font-weight: 700;
}
.office__btn {
  background-color: var(--color-yellow);
  padding: 18px 78px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "AvenirNextCyr-Bold";
  font-size: 16px;
  white-space: nowrap;
  color: inherit;
}
.office__btn:hover {
  background-color: rgb(198, 160, 10);
}
.office__price {
  display: flex;
  flex-direction: column;
  position: relative;
}
.office__price-box {
  border: 1px solid rgba(65, 65, 64, 0.1);
  padding: 12px;
}
.office__price-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.office__price-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.office__counter {
  display: flex;
  align-items: center;
  gap: 22px;
}
.office__price-nubmer {
  padding: 2px 8px;
  background-color: var(--color-yellow);
  border-radius: 50%;
  font-weight: 700;
  font-size: 12px;
}
.office__price-money {
  font-weight: 700;
}
.office__price-counter {
  display: flex;
  align-items: center;
  border: 1px solid rgba(65, 65, 64, 0.1);
}
.office__counter-value {
  opacity: 0.6;
  border-right: 1px solid rgba(65, 65, 64, 0.1);
  padding: 2px 8px;
}
.office__counter-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}
.office__counter-action :nth-child(1) {
  border-bottom: 1px solid rgba(65, 65, 64, 0.1);
}
.office__counter-btnup, .office__counter-btndown {
  padding: 4px 8px;
  cursor: pointer;
}
.office__counter-btnup:hover, .office__counter-btndown:hover {
  background-color: var(--color-yellow);
}
.office__price-onepiece {
  text-align: right;
  font-size: 12px;
  opacity: 0.6;
}
.office__sum-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.office__office__title-count {
  font-size: 32px;
}
.office__notification-alternative {
  display: flex;
  border: 1px solid rgba(252, 63, 29, 0.16);
  background-color: rgba(252, 63, 29, 0.04);
  padding: 12px 14px;
}
.office__notification-alternative p {
  line-height: 10px;
  font-size: 10px;
  font-weight: 700;
}
.office__quest {
  margin-top: 24px;
  display: flex;
  gap: 8px;
}
.office__quest img {
  padding-bottom: 26px;
}
.office__link-phone {
  font-size: 16px;
}
.office__link-phone a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  color: inherit;
  border-bottom: 1px solid var(--color-gray);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
}

.modal-window {
  width: 370px;
  height: 390px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  display: none;
  z-index: 150;
}
.modal-window__flag {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.modal-window__info {
  padding: 32px;
}
.modal-window__text {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 24px;
}
.modal-window__info h1 {
  font-size: 28px;
  margin: 0;
}
.modal-window__info p {
  font-size: 16px;
  margin: 0;
}
.modal-window__info a {
  font-size: 11px;
  color: inherit;
  opacity: 0.5;
}
.modal-window__phone {
  margin-bottom: 8px;
  position: relative;
  display: inline-block;
  align-items: center;
}
.modal-window__phone img {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-window__phone input {
  padding: 14px 0px 14px 44px;
  border: 1px solid rgba(65, 65, 64, 0.1);
  width: 125%;
}
.modal-window__button {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.modal-window__btn {
  background-color: var(--color-yellow);
  padding: 18px 78px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  font-family: "AvenirNextCyr-Bold";
  white-space: nowrap;
  color: inherit;
}
.modal-window__btn:hover {
  background-color: rgb(198, 160, 10);
}

.swiper-container {
  display: none;
  position: relative;
  overflow: hidden;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.swiper-slide .office__info-instok {
  top: 4%;
  right: 2%;
  bottom: 86%;
}

.swiper-slide .office__info-child:nth-child(1) {
  top: 46%;
  left: 28%;
}

.swiper-slide .office__info-child:nth-child(2) {
  top: 54%;
  left: 65%;
}

.swiper-slide .office__info-child:nth-child(3) {
  top: 34%;
  left: 32%;
}

.swiper-slide .office__info-child:nth-child(4) {
  top: 2%;
  left: 14%;
}

.swiper-slide .office__info-child:nth-child(5) {
  top: 28%;
  left: 17%;
}

.swiper-slide .office__info-child:nth-child(6) {
  top: 40%;
  left: 86%;
}

.swiper-pagination {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50px;
  position: absolute;
  max-width: 82px;
  max-height: 22px;
  margin-left: 50%;
  margin-bottom: 12px;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: rgb(255, 255, 255);
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: rgb(255, 255, 255);
  width: 8px;
  height: 8px;
}

@media (max-width: 1210px) {
  .swiper-container {
    display: block;
  }
  .office__info-popup-hidden.move-left .office__info-popup {
    right: 100%;
    transform: translateX(30%);
  }
  .office__about {
    display: flex;
    flex-direction: column;
  }
  .office__breadcrumbs {
    padding-left: 20px;
  }
  .office__images {
    display: none;
  }
  .office__title {
    padding-left: 20px;
  }
  .office__subtitle {
    margin: 0px 20px;
  }
  .office__btn {
    margin: 0px 20px;
  }
  .office__price-info {
    gap: 38px;
  }
  .office__counter {
    gap: 38px;
  }
  .office__price-onepiece {
    padding-right: 20px;
  }
  .office__sum-price {
    margin: 0px 20px;
  }
  .office__quest {
    margin-left: 20px;
  }
}
@media (max-width: 600px) {
  .swiper-pagination {
    margin-left: 40%;
  }
  .swiper-slide .office__info-child:nth-child(1) {
    top: 44%;
    left: 28%;
  }
  .swiper-slide .office__info-child:nth-child(2) {
    top: 51%;
    left: 65%;
  }
  .swiper-slide .office__info-child:nth-child(3) {
    top: 30%;
    left: 32%;
  }
  .swiper-slide .office__info-child:nth-child(4) {
    top: 1%;
    left: 13%;
  }
  .swiper-slide .office__info-child:nth-child(5) {
    top: 27%;
    left: 16%;
  }
  .swiper-slide .office__info-child:nth-child(6) {
    top: 40%;
    left: 85%;
  }
  .office__subtitle {
    display: flex;
  }
  .office__subtitle img {
    order: 2;
  }
  .office__subtitle p {
    order: 1;
  }
  .office__price-info {
    gap: 8px;
  }
  .office__counter {
    gap: 22px;
  }
}/*# sourceMappingURL=style.css.map */