@import url(https://db.onlinewebfonts.com/c/11d164da9b46e6f7955e396757e5ca70?family=AvenirNextCyr-Regular);
@import url(https://db.onlinewebfonts.com/c/28f70728be1cb6dc87a8903182044dfd?family=AvenirNextCyr-Bold);

:root {
  --color-yellow: rgba(255, 218, 0, 1);
  --color-gray: rgba(65, 65, 64, 1);
  --color-green: rgba(39, 174, 96, 1);
  --color-lightGray: rgba(245, 247, 249, 1);
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  font-family: "AvenirNextCyr-Regular";
  color: var(--color-gray);
  max-width: 1920px;
  margin: auto;
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.content {
  max-width: 1170px;
  width: 100%;
  margin: 20px auto;
}

.office {
  &__breadcrumbs {
    font-weight: 450;
    display: flex;
    justify-content: flex-start;
    gap: 26px;
    margin-bottom: 32px;
    overflow-x: auto;
    white-space: nowrap;
  }

  &__breadcrumbs-link {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid var(--color-gray);
    position: relative;
  }

  &__breadcrumbs-link::after {
    content: "";
    position: absolute;
    border-top: 1px solid var(--color-gray);
    border-right: 1px solid var(--color-gray);
    width: 5px;
    height: 5px;
    transform: rotate(45deg);
    top: 50%;
    right: -15px;
    margin-top: -2.5px;
    pointer-events: none;
  }

  &__about {
    display: flex;
    gap: 30px;
    position: relative;
  }

  &__info-instok {
    position: absolute;
    top: 2%;
    right: 2%;
    bottom: 93%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    background-color: white;
    padding: 6px 12px;
  }

  &__info-circle {
    width: 8px;
    height: 8px;
    background-color: var(--color-green);
    border-radius: 50%;
  }

  &__info-instok p {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 5%;
    color: inherit;
    padding-bottom: 2px;
  }

  &__info-click {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__info-child {
    max-width: 21px;
    max-height: 21px;
    padding: 2px 9px; // тут увлечил паддинг с 7px до 9px, чтобы кружок был похож на кружок
    background-color: var(--color-yellow);
    border-radius: 50%;
    position: absolute;
    font-weight: 700;
    font-size: 11px;
    cursor: pointer;
    position: absolute;

    &:hover {
      background-color: rgb(198, 160, 10);
    }
  }

  &__info-popup-hidden {
    display: none;
  }

  &__info-popup {
    background-color: rgba(65, 65, 64, 0.85);
    width: max-content;
    line-height: 10px;
    text-align: left;
    padding: 12px 23px 12px 16px;
    margin-top: 4px;
    position: absolute;
    z-index: 150;
  }

  &__info-name {
    color: white;
  }

  &__info-price {
    color: var(--color-yellow);
    font-weight: 700;
  }

  &__bag {
    position: relative;
  }

  &__title {
    font-size: 32px;
    font-family: "AvenirNextCyr-Bold"; // изменил жирность заголовка таким образом
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 8px;
  }

  &__info a {
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    color: inherit;
    opacity: 0.6;
    border-bottom: 1px solid var(--color-gray);
  }

  &__subtitle {
    background-color: var(--color-lightGray);
    padding: 14px 38px;
    position: relative;
    margin-left: 28px;

    &::before {
      content: "";
      background-image: url(../assets/icon/bag.svg);
      display: block;
      width: 48px;
      height: 48px;
      position: absolute;
      left: -24px;
      top: 0;
    }

    p {
      margin: 0;
    }
  }

  &__subtitle img {
    padding-left: 10px;
  }

  &__subtitle span {
    font-weight: 700;
  }

  &__btn {
    background-color: var(--color-yellow);
    padding: 18px 79px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "AvenirNextCyr-Bold";
    font-size: 16px;
    white-space: nowrap;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: rgb(198, 160, 10);
    }
  }

  &__price {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__price-list {
    border: 1px solid rgba(65, 65, 64, 0.1);
  }

  &__price-box {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 12px;

    &:nth-child(even) {
      background-color: var(--color-lightGray);
    }
  }

  &__price-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
  }

  &__price-name {
    margin: 0;
  }

  &__counter {
    display: flex;
    align-items: center;
    gap: 22px;
  }

  &__price-nubmer {
    padding: 2px 8px;
    background-color: var(--color-yellow);
    border-radius: 50%;
    font-weight: 700;
    font-size: 12px;
  }

  &__price-money {
    font-weight: 700;
  }

  &__counter-input {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(65, 65, 64, 0.1);
  }

  &__counter-value {
    border: none;
    width: 23px;
    color: rgba(65, 65, 64, 0.6);
    text-align: center;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  &__counter-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(236, 236, 236, 1);
  }

  &__counter-action :nth-child(1) {
    border-bottom: 1px solid rgba(65, 65, 64, 0.1);
  }

  &__counter-btnup,
  &__counter-btndown {
    padding: 4px 8px;
    cursor: pointer;

    &:hover {
      background-color: var(--color-yellow);
    }
  }

  &__price-onepiece {
    text-align: right;
    font-size: 12px;
    opacity: 0.6;
  }

  &__sum-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__title-count {
    font-size: 28px;
    font-weight: 700;
    margin: 0;
  }

  &__notification {
    margin-right: 18px;
  }

  &__notification-alternative {
    display: flex;
    border: 1px solid rgba(252, 63, 29, 0.16);
    background-color: rgba(252, 63, 29, 0.04);
    padding: 12px 14px;
  }

  &__notification-alternative p {
    line-height: 10px;
    font-size: 10px;
    font-weight: 700;
  }

  &__quest {
    margin-top: 24px;
    display: flex;
    gap: 8px;
  }

  &__quest img {
    padding-bottom: 26px;
  }

  &__link-phone {
    font-size: 16px;
  }

  &__link-phone a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: inherit;
    border-bottom: 1px solid var(--color-gray);
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
}

.modal-window {
  width: 370px;
  height: 390px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  display: none;
  z-index: 150;

  &__flag {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  &__info {
    padding: 32px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 24px;
  }

  &__info h2 {
    font-size: 28px;
    margin: 0;
    font-weight: 700;
  }

  &__info p {
    font-size: 16px;
    margin: 0;
    font-weight: 400;
  }

  &__info a {
    font-size: 11px;
    color: inherit;
    opacity: 0.5;
  }

  &__phone {
    margin-bottom: 8px;
    position: relative;
    display: inline-block;
    align-items: center;
  }

  &__phone img {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__phone input {
    padding: 14px 92px 14px 44px;
    border: 1px solid rgba(65, 65, 64, 0.1);
  }

  &__button {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__btn {
    background-color: var(--color-yellow);
    padding: 18px 78px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-family: "AvenirNextCyr-Bold";
    white-space: nowrap;
    color: inherit;

    &:hover {
      background-color: rgb(198, 160, 10);
    }
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  flex-direction: column;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1210px) {
  .office {
    &__breadcrumbs {
      padding-left: 20px;
    }

    &__info-popup-hidden.move-left .office__info-popup {
      right: 100%;
      transform: translateX(30%);
    }
  }
}

@media (max-width: 781px) {
  .office {
    &__title {
      padding-left: 20px;
    }
    &__about {
      display: flex;
      flex-direction: column;
    }

    &__subtitle {
      text-align: center;
      background-color: var(--color-lightGray);
      margin-left: 0px;

      &::before {
        display: none;
      }
      &::after {
        content: "";
        background-image: url(../assets/icon/bag.svg);
        display: block;
        width: 48px;
        height: 48px;
        position: absolute;
        right: 15%;
        top: -10px;
      }
    }

    &__price-onepiece {
      padding-right: 20px;
    }

    &__price-complect {
      padding-left: 20px;
    }

    &__notification-alternative {
      padding-right: 20px;
    }


    &__quest {
      padding-left: 20px;
    }
  }
  .swiper-wrapper {
    display: flex;
    flex-direction: row;
  }

  .swiper-pagination {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50px;
    position: absolute;
    max-width: 82px;
    max-height: 22px;
    margin-left: 45%;
    margin-bottom: 12px;
  }

  .swiper-pagination .swiper-pagination-bullet {
    background-color: rgba(255, 255, 255, 1);
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }

  .swiper-pagination .swiper-pagination-bullet-active {
    background-color: rgb(255, 255, 255);
    width: 8px;
    height: 8px;
  }
}

@media (max-width: 500px) {
  .office__subtitle {
    &::after {
      content: "";
      background-image: url(../assets/icon/bag.svg);
      display: block;
      width: 48px;
      height: 48px;
      position: absolute;
      right: 2%;
      top: -10px;
    }
  }

  .swiper-pagination {
    margin-left: 40%;
  }
}
